/* ------------------------------------------------------------*/
/* BASIC SETSUP */
/* ------------------------------------------------------------*/

/* 

Orange color :  #e67e22 

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html ,
body{
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {
  zoom: 1;
}

.clearfix::after {
  content: ' ';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ------------------------------------------------------------*/
/* REUSEABLE COMPONENTS */
/* ------------------------------------------------------------*/

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.box {
  padding: 1%;
}

section {
  padding: 80px 0;
}

/* ---- HEADINGS ---- */

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

h2::after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: '';
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

/* ---- PARAGRAPH ---- */

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
  text-align: justify;
  font-size: 120%;
}

/* ---- ICONS ---- */

.icon-big {
  display: block;
  font-size: 350%;
  color: #e67e22;
  margin-bottom: 10px;
}

.icon-small {
  color: #e67e22;
  display: inline-block;
  width: 30px;
  text-align: center;
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
  margin-right: 10px;
}

/* ---- LINKS ---- */

a:link,
a:visited {
  color: #e67e22;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #e67e22;
  -webkit-transition: border-bottom 0.2s, color 0.2s;
  transition: color 0.2s, border-bottom 0.2s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/* ---- BUTTONS ---- */

.btn:link,
.btn:visited,
input[type='submit'] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type='submit'] {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn:hover,
.btn:active,
input[type='submit']:hover,
input[type='submit']:active {
  background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #cf6d17;
  color: #fff;
}

/* ------------------------------------------------------------*/
/* HEADER */
/* ------------------------------------------------------------*/

header {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img/varan.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('img/varan.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.varan-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.logo{
  margin-top: 10px;
  height: 200px;
  width: auto;
  float: left;
}



.logo-black{
    display: none;
    margin: 5px 0;
    height: 55px;
    width: auto;
    float: left;
    top: 0px;
    transform: scale(2.2);
}
/* main navi */
.main-nav {
  margin-top: 60px;
  float: right;
  list-style: none;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}


/* sticky navi */


.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef;
}


.sticky .main-nav {
  margin-top: 20px;
}


.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 21px 0px;
  color: #555;
}

.sticky .logo { display: none ;}

.sticky .logo-black {  display: block;}
/* ------------------------------------------------------------*/
/* FEATURES */
/* ------------------------------------------------------------*/

.section-features .long-copy {
  margin-bottom: 30px;
}

/* ------------------------------------------------------------*/
/* PRODUCTS */
/* ------------------------------------------------------------*/

.section-products {
  padding: 0;
}

.products-showcase {
  list-style: none;
  width: 100%;
}

.products-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.product-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background: #000;
}

.product-photo img {
  opacity: 0.7;
  width: 100%;
  height: 20vw;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.product-photo img:hover {
  opacity: 1;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

/* ------------------------------------------------------------*/
/* MAINTENANACE */
/* ------------------------------------------------------------*/

.section-maintenanace {
  background-color: #f4f4f4;
}

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}

.steps-box:last-child {
  text-align: left;
  padding-left: 3%;
  margin-top: 80px;
}
.care-photo {
  width: 60%;
}

.care-steps {
  margin-bottom: 50px;
}
.care-steps div {
  color: #e67e22;
  border: 2px solid #e67e22;
  display: inline-block;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  padding: 5px;
  text-align: center;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}

/* ------------------------------------------------------------*/
/* NEW BORN */
/* ------------------------------------------------------------*/

.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.item-feature {
  margin-bottom: 5px;
}

/* ------------------------------------------------------------*/
/* VARANIES */
/* ------------------------------------------------------------*/

.section-varanies {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/varanies.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(img/varanies.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  background-attachment: fixed;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

blockquote::before {
  content: '\201C';
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
}

cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

cite img {
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/* ------------------------------------------------------------*/
/* CONTACT FORM */
/* ------------------------------------------------------------*/

.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type='text'],
input[type='email'],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

textarea {
  height: 100%;
  resize: none;
}

input[type='checkbox'] {
  margin: 10px 5px 10px 0;
}

*:focus {
  outline: none;
}

/* ------------------------------------------------------------*/
/* FOOTER */
/* ------------------------------------------------------------*/

footer {
  background-color: #333;
  padding: 50px;
  font-size: 80%;
}

.footer-nav,
.social-links {
  list-style: none;
}

.footer-nav {
  float: left;
}

.social-links {
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}
.footer-nav li :last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active {
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.ion-social-instagram,
.ion-social-googleplus,
.ion-social-whatsapp {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.ion-social-instagram:hover,
.ion-social-instagram:active {
  color: #517fa4;
}
.ion-social-googleplus:hover,
.ion-social-googleplus:active {
  color: #dd4b39;
}

.ion-social-whatsapp:hover,
.ion-social-whatsapp:active {
  color: #25d366;
}
footer p {
  color: #888;
  text-align: center;
  margin-top: 20px;
}
